<li class="row form-controller boxed grant-li">
  <%= g_f.hidden_field :id %>
  <span class="col-xs-10 min-padding-both">
    <%= g_f.text_field :name, { class: "form-control"} %>
  </span>
  <span class="holiday-type col-xs-2 top-padded center min-padding-both">
    <%= g_f.check_box :active %>
  </span>
</li>
