<li class="row form-controller boxed weekday-li">
  <span class="col-xs-2 min-padding-both">
    <%= w_f.object.day_num %>
  </span>
  <span class="col-xs-6 min-padding-both">
    <%= w_f.text_field :name, { class: "form-control"} %>
  </span>
  <span class="col-xs-3 min-padding-both">
    <%= w_f.text_field :abbr, { class: "form-control"} %>
  </span>
  <span class="times col-xs-1">
    <%= w_f.check_box :active %>
  </span>
</li>

