<p>if :logged_in, show menu (User or User+Admin). Else show login screen.</p>
<ul>User menu:
  <li>Submit a timecard</li>
  <li>View past timecards</li>
</ul>
<ul>Admin menu:
  <li>Approve timecards</li>
  <li>Run reports</li>
  <li><%= link_to "Manage Categories", categories_path %></li>
  <li><%= link_to "Manage Users", users_path %></li>
  <li><%= link_to "Manage Departments", departments_path %></li>
</ul>