<h3 class="subtle thin-top center">Payroll</h3>

<div class="well well-striped row">
  <div class="row">
    <%= render 'shared/year_payweek_searchbar' %>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dept.</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Dept.</td>
        <td>Hours</td>
      </tr>
    </tbody>
  </table>
</div>