<h4 class="center subtle">Edit <%= @user.fname+"\'s profile" %></h4>

<div class="row">
  <%= render 'user_form' %>
</div>

<% if @user_cat %>
  <div class="row">
    <h4><%= @user.fname+"\'s categories:" %></h4>
  </div>
  <div class="row">
    <ul>
      <% @user_cat.each do |c| %>
        <li><%= c.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
