<h4 class="center">Edit <%= @user.fname+"\'s profile" %></h4>

<div class="row">
  <%= render 'user_form' %>
</div>

<% if @user.department.categories.any? %>
  <div class"row">
    <ul>
      <% @user.department.categories.each do |c| %>
        <li><%= c.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
