<h3 class='center'>Add new user</h3>
<ul>New user fields go here.</ul>
  <li>FName</li>
  <li>LName</li>
  <li>Active? (Y/N)</li>
  <li>Email (for username)</li>
  <li>Password (encrypted, but Admin can reset)</li>
  <li>Department (for default category)</li>
  <li>Reports to (list of other users)</li>
  <br>
<p><%= link_to "Cancel", users_path %></p>

