<form accept-charset="UTF-8" method="get" id="timeoff_searchbar_form">
  <div class="row buffered-row-bottom">
    <div class="col-xs-4 min-padding-both">
      <div class="input-group" title='Date'>
        <span class="input-group-addon">
          <%= icon('calendar') %>
        </span>
        <input id="searchbar_date" name="date" type="integer" value="<%= @date %>" class="form-control open_date_picker" >
      </div>
    </div>

    <div class="col-xs-2 text-center">
      <p>Change the date to see different accruals.</p>
    </div>

    <div class="col-xs-3 text-center">
      <button type="submit" id="submit" class="btn btn-primary">
        <%= FA_SUBMIT %>
      </button>
    </div>

    <div class="col-xs-3 text-center">
      <%= link_to FA_CLEAR, request.path, class: "btn btn-success" %>
    </div>
  </div>
</form>