<p>Future -- submit multple day off requests at once</p>

<h1>From requests#new:</h1>
<div class="row col-xs-12">
  <h3 class="col-xs-12 col-sm-6 col-md-3">New Time Off Request</h3>
  <h5 class="col-xs-6 col-sm-3 col-md-2">How many days off?</h5>
  <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
    <%= number_field_tag :numdays, @days_off, { in: 1...22, class: "form-control", id: "numdays_field", } %>
  </div>
  <div class="col-xs-2 col-sm-1 col-md-1">
    <%= link_to 'Populate', "#", { class: "btn btn-success", id: "numdays_btn" } %>
  </div>
</div>
<div class="row col-xs-12 col-md-12 col-lg-12">
  <hr >
</div>

<h1>From requests.js.coffee:</h1>
<p>jQuery->  $('#numdays_btn').click ->
    #populate button - to load multiple days off forms
    numdays = $('#numdays_field').val()
    if numdays != ""
      url = window.location.href
      urlsplit = url.split('?')
      url_w_var = urlsplit[0] + "?numdays=" + numdays
      window.location.href = url_w_var
    event.preventDefault()
    false</p>