<h3>Submit time off request</h3>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <%= link_to 'Back', "/users/#{params[:user_id]}/requests?cur_usr=true", { class: "btn btn-info pull-right" } %>
  </div>
</div>