<span class="row span-no-padding-both no-margin">
  <legend>Hours:</legend>
  <span class="col-xs-2">
    Total:
  </span>
  <span class="col-xs-2">
    <p id="ttl-hours">#</p>
  </span>
  <span class="col-xs-4">
    <%= select_tag "review_select_tag", options_for_select([["Reviewed", true], ["Unreviewed", false]], @timesheet.timesheet_hours.first.reviewed?), { class: "form-control width-limiter", id: "review_select_tag" }  %>
  </span>
    <span class="col-xs-4">
    <%= select_tag "approve_select_tag", options_for_select([["Approved", true], ["Unapproved", false]], @timesheet.timesheet_hours.first.approved?), { class: "form-control width-limiter", id: "approve_select_tag" }  %>
  </span>
</span>
<span class='row no-margin'>
  <br />
</span>
<span class="row span-no-padding-both no-margin">
  <legend>Time off:</legend>
  <span class="col-xs-2">
    Total:
  </span>
  <span class="col-xs-2">
    <p id="ttl-timeoff-hours">#</p>
  </span>
  <span class="col-xs-4">
    <%= select_tag "to_review_select_tag", options_for_select([["Reviewed", true], ["Unreviewed", false]], @timesheet.timesheet_hours.first.timeoff_reviewed?), { class: "form-control width-limiter", id: "to_review_select_tag" }  %>
  </span>
    <span class="col-xs-4">
    <%= select_tag "to_approve_select_tag", options_for_select([["Approved", true], ["Unapproved", false]], @timesheet.timesheet_hours.first.timeoff_approved?), { class: "form-control width-limiter", id: "to_approve_select_tag" }  %>
  </span>
</span>