<span class="row span-no-padding-both no-margin">
  <legend>Hours:</legend>
  <span class="col-xs-2">
    Total:
  </span>
  <span class="col-xs-2">
    <p id="ttl-hours">#</p>
  </span>
  <span class="col-xs-4">
    (review field)
  </span>
    <span class="col-xs-4">
    (approve field)
  </span>
</span>
<span class='row no-margin'>
  <br />
</span>
<span class="row span-no-padding-both no-margin">
  <legend>Time off:</legend>
  <span class="col-xs-2">
    Total:
  </span>
  <span class="col-xs-2">
    <p id="ttl-timeoff-hours">#</p>
  </span>
  <span class="col-xs-4">
    (to_review field)
  </span>
    <span class="col-xs-4">
    (to_approve field)
  </span>
</span>