<h3 class="center subtle">All Users' Timesheets</h3>
<div id="admin-timesheets" class="datatable-div">
  <table class="table table-striped" id="timesheet-admin-table">
    <%= render 'timesheet_table' %>
  </table>

  <%= render 'create_for_user' %>

  <div class="hidden pull-right" id="direct_report_error">
    <code>Please select a name.</code>
  </div>

</div>

