<h3 class="center subtle">All Users' Timesheets</h3>
<div id="admin-timesheets" class="datatable-div">
  <table class="table table-striped table-center" id="timesheet-archive-table">
    <%= render 'timesheet_table' %>
  </table>
</div>
