<h3 class="center subtle"><%= @page_title %></h3>
<% if params[:auth] == "over" %>
  <%= render 'auth_over_timesheet_table' %>
<% elsif params[:auth] == "admin" %>
  <%= render 'auth_admin_timesheet_table' %>
<% else %>
  <%= render 'single_timesheet_table' %>
<% end %>