<h4 class="center">Recent Timesheets for <%= @user.fname %></h4>
<div id="recent-timesheets">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>TTL Hrs</th>
        <th>Submitted</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>t.week_num_to_date(week_num, year)</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>
