<h3 class="center subtle"><%= @page_title %></h3>
<div id="single-timesheets" class="datatable-div">
  <table class="table table-striped table-center" id="timesheet-single-table">
    <%= render 'timesheet_table' %>
  </table>

  <div class="buffered-row">
    <%= link_to FA_NEW, new_user_timesheet_path(@user.id), { method: :get, class: "btn btn-success"} %>
  </div>

</div>