<h3 class="center subtle">Your Team's Timesheets</h3>
<div id="recent-timesheets">
  <table class="table table-striped table-center" id="timesheet-over-table">
   <%= render 'timesheet_table', timesheets_collection: @timesheets_for_user_auth %>
  </table>

  <%= render 'create_for_user' %>

</div>

<% if !@timesheets_needing_review.nil? %>
  <div class="row center">
    <hr />
    <%= "There are " + @timesheets_needing_review.count.to_s + " " + "timesheet".pluralize(@timesheets_needing_review.count) + " for review." %>
    <%= link_to "Review as Admin", user_timesheets_admin_path(current_user), { method: :get, class: "btn btn-success"} %>
    <hr />
  </div>
<% end %>

