<h3 class="center subtle">Your Team's Timesheets</h3>
<div id="recent-timesheets">
  <table class="table table-striped table-center" id="timesheet-over-table">
   <%= render 'timesheet_table', timesheets_collection: @timesheets_for_user_auth %>
  </table>

  <%= render 'create_for_user' %>

</div>

