<h3 class="center subtle">Your Team's Timesheets</h3>
<div id="recent-timesheets" class="datatable-div">
  <table class="table table-striped table-center" id="timesheet-over-table">
   <%= render 'timesheet_table' %>
  </table>

  <%= render 'create_for_user' %>

</div>

