// home#_signed_in.html styling to make app-style buttons.
.msg-legend {
  margin-bottom: 0em;
  border-bottom: 2px solid #FAFAFA;
}

#msg-board-hider {
  margin-top: -1em;
  margin-left: -1em;
}

a.unhide > span > i.fa {
  color: #C83445;
}

a.unhide:hover > span > i.fa {
  color: #AA1627;
}

a:hover > span > i.fa {
  color: #246DAC;
}

.msg-text {
  margin-top: 1em;
  min-height: 3em;
}

.box-btn {
  text-align: center;
  width: 6em;
  height: 6em;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #888888;
  border-radius: 8px;
  box-shadow: 4px 4px 1px #888888;
  p, a, i {
    padding: .1em;
  }
}

.app-style {
  a:hover {
    text-decoration: none;
    .box-btn {
      background-color: #dff0d8 !important;
    }
  }
  a:visited {
    color: #428bca;
  }
}