.box-btn {
  text-align: center;
  width: 6em;
  height: 6em;
  margin-top: .5em;
  margin-bottom: .5em;
  border: 1px solid #888888;
  border-radius: 8px;
  box-shadow: 2px 2px 1px #888888;
  p, a, i {
    padding: .1em;
  }

}

.app-style {
  margin-left: -2em !important;
  a:hover {
    text-decoration: none;
  }
  :hover {
    .box-btn {
      background-color: rgba(97,130,71,.3);
    }
  }
}