#top-level-container {
  margin-left: 1em;
  margin-right: 1em;
}

#name_banner {
  margin-left: 1em;
  margin-right: 1em;
}

#logo-home-link {
  color: #333333;
}

#logo {
  //height: inherit;
  width: 175px;
}

.jumbo-font {
  font-size: 48px !important;
}

// Make the app-header stuff smaller on small screens
@media (max-width: 400px ) {
  #logo {
    width: 75px;
  }

  .jumbo-font {
    font-size: 24px !important;
  }

  .mini-jumbo-font {
    display: none;
  }

  #app-header {
    margin-bottom: 0px !important;
  }

  #home_btn_div {
    margin-top: -2em;
  }
}

// home#_signed_in.html styling to make app-style buttons.
.msg-legend {
  margin-bottom: 0em;
  border-bottom: 2px solid #FAFAFA;
}

#msg-board-hider {
  margin-top: -1em;
  margin-left: -1em;
}

a.unhide > span > i.fa {
  color: #C83445;
}

a.unhide:hover > span > i.fa {
  color: #AA1627;
}

a:hover > span > i.fa {
  color: #246DAC;
}

.msg-text {
  margin-top: 1em;
  min-height: 2em;
}