@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 2em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}

.center {
  text-align: center;
}

#logo-home-link {
  color: #333333;
}

.logo {
  height: inherit;
}

#app-header {
  margin: 0px 0px 20px !important;
  padding: 0px !important;
}

#top-level-container {
  margin-left: 2em;
  margin-right: 2em;
}

.hidden {
  display: none;
}