@import "bootstrap";
//BOOSTRAP GRID SIZES:
// Extra small devices Phones (<768px)  
//Small devices Tablets (≥768px)  
//Medium devices Desktops (≥992px)  
//Large devices Desktops (≥1200px)

html {
  overflow-y: scroll;
}

body {
  padding-top: 1em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}

.subtle {
  color: rgb(109,110,112);
}

.well-striped {
  background-image: url('/assets/grey-striped-background.png');
}

.small {
  font-size: .85em;
}

.thin {
  margin-top: 2px;
  margin-bottom: 2px;
}

.buffered-row {
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
}

a:hover > div > i, a:hover > div > p {
  background-color: transparent;
  color: #246DAC;
}

a:visited {
  color: #428bca;
}

// Keep white text in visited buttons with a bootstrap color (primary, success, info, danger, warning)
a[class*="btn-"]:visited {
  color: white;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#logo-home-link {
  color: #333333;
}

.logo {
  height: inherit;
}

#app-header {
  margin: 0px 0px 20px !important;
  padding: 0px !important;
}

#top-level-container {
  margin-left: 1em;
  margin-right: 1em;
}

.hidden {
  display: none;
}

.hr-thin {
  margin-top: 0px;
  margin-bottom: 10px;
}

.expand {
  width: 100%;
}

legend {
  font-size: 1.25em;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

// universal table styling

// new color def for sub-table rows
tr[class*='-list-'] > td {
  background-color: #eeeeee;
}

.table-center {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

// universal form styling

// Center the rows in forms
.form-controller > .row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.width-limiter {
  max-width: 10em;
  margin-left: auto;
  margin-right: auto;
}

div.input-group {
  width: 98%;
  padding-bottom: .5em;
}

.form-matcher {
  border-radius: 4px !important;
}

.disabled-field-faker {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}


// Shrink text on mobile views only
@media (max-width: 768px) {
  .small-when-small { font-size: .8em !important; }
}

// Remove padding applied by Bootstrap 'col-' class
.span-no-padding-l > span {
  padding-left: 0 !important;
}

.span-no-padding-r > span {
  padding-right: 0 !important;
}

.span-no-padding-both > span {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.plus-r-padding {
  padding-right: 10px;
}

.readonly-disguiser {
  background-color: white ;
}

.min-padding-both {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

input[type="checkbox"] {
  margin-left: 0px !important;
}

// suppress hyperlink blue on carets
i[class*='fa-caret'] {
  color: #333333;
}


// Error handling
#error_explanation {
  color: #a94442;
}

[class*='alert-'] {
  text-align: center;
  font-size: 1.05em;
  border-radius: 4px;
  margin: 0;
  padding: 6px;
}

.alert-error {
  background-color: #c77270;
}

ul {
  margin: 0 0 6px 0;
}

.field_with_errors {
  select {
    border: 1px solid #a94442;
    border-radius: 4px;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  input {
    border: 1px solid #a94442;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  // form input placeholder styling -- browser specific
  ::-webkit-input-placeholder {
     color: #b8817f;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #b8817f;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #b8817f;  
  }

  :-ms-input-placeholder {  
     color: #b8817f;  
  }

}