@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 1em;
}

.form-controller > .row {
  margin-left: auto !important;
  margin-right: auto !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
}

a:hover {
  background-color: transparent;
}

.center {
  text-align: center;
}

#logo-home-link {
  color: #333333;
}

.logo {
  height: inherit;
}

#app-header {
  margin: 0px 0px 20px !important;
  padding: 0px !important;
}

#top-level-container {
  margin-left: 2em;
  margin-right: 2em;
}

.hidden {
  display: none;
}

.hr-thin {
  margin-top: 0px;
  margin-bottom: 10px;
}


// universal form styling
div.input-group {
  width: 98%;
  padding-bottom: .5em;
}

.form-matcher {
  border-radius: 4px !important;
}

// new color def for sub-table rows
tr[class*='-list-'] > td {
  background-color: #eeeeee;
}


// suppress hyperlink blue on carets
i[class*='fa-caret'] {
  color: #333333;
}


// Error handling
#error_explanation {
  color: #a94442;
}

.alert-error {
  text-align: center;
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px #a88f8f;
  border: 1px solid #a94442;
  border-radius: 4px;
  background-color: #c77270;
  margin: 0;
  padding: 6px;
}
ul {
  margin: 0 0 6px 0;
}

.field_with_errors {
  select {
    border: 1px solid #a94442;
    border-radius: 4px;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  input {
    border: 1px solid #a94442;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
  // form input placeholder styling -- browser specific
  ::-webkit-input-placeholder {
     color: #b8817f;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #b8817f;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #b8817f;  
  }

  :-ms-input-placeholder {  
     color: #b8817f;  
  }

}