// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// new color def for super-list table rows
tr[class*='super-list-'] > td {
  background-color: #eeeeee;
}


// suppress hyperlink blue on carets
i[class*='fa-caret'] {
  color: #333333;
}

div.input-group {
  width: 98%;
  padding-bottom: 1em;

  select { width: 100% }
}

.hr-thin {
  margin-top: 0px;
  margin-bottom: 10px;
}


// fix border-radius issue with select_tag
.selector {
  margin-left: -4px;
  z-index: -1 !important;
}

.addon-selector {
  border: 1px solid #cccccc !important;
}



@media (max-width: 991px) {
  #user-email-input { width: 98% }

  .input-selector {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  #user-email-input { width: 96.8% }
}
